{% extends "../base.html" %}

<body>
    
    {% block content %}
    <link rel="stylesheet" href="../static/newcss/welcome.css">
    <div class="main-container">
        <div>
            <h1>Welcome to the Lazarus Method</h1>
        </div>
        <div> 
            <h3>Before you get started, please answer these questions</h3>
        </div>
        <div> 
            <p>Please select the following that are a <b>YES</b></p>
        </div>
        <div>
            <button method="POST" onclick="location.href = '../onboarding'" type="submit"> Continue</button>
        </div>
    </div>
    {% endblock %}
</body>