{% extends "base.html" %}
<body>
{% block content %}
<link rel="stylesheet" href="../static/newcss/welcome.css">

<style>
    @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
  </style>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Roboto&display=swap');
  </style>

<div class="main-container">
    <div class="title">
        <h1 style="font-family: Balthazar;">YOUR RESULTS</h1>
        <br>
        <h4 style="color:#202562; font-family: EB Garamond;" >This insight allows you to observe improvement as you progress in the program. The Lazarus Method adapts with you, providing immediate feedback. 
            This responsive approach ensures that you receive the most relevant and effective guidance at every stage of your journey.</h4>
    </div>
    <div class="title">
        <img src="../static/images/DrLazarusVectorObjects-09.jpg" style="width: 200px;">
    </div>
    <div class="title"> 
        <h4 style="color:#202562; font-family: EB Garamond;">Now that you know your baseline results, let’s get started.</h4>
        <h4 style="color:#202562; font-family: EB Garamond;">Off to your Personal Dashboard!</h4>
    </div>
    
    <div>
        <button onclick="location.href = '../walkthrough/home'">Continue</button>
    </div>
</div>

{% endblock %}
</body>