{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
  <link rel="stylesheet" href="../static/newcss/progress.css">
  <div class="title">
      <h1 style="z-index:-999;">GREAT WORK!</h1>
      <h4 style="color:#202562;">Another Pro Tip:</h4>
      <h4 style="color:#202562;">The icons to your left will help you navigate to your dashboard(home icon), progress(checkmark icon), and to the course!</h4>
      <img src="../static/images/Laz Method Elements Black Solid (1) copy.svg" style="width: 200px;">
  </div>

<div class="title">
  <button class="continue_button" onclick="location.href = './complete'">Continue</button>
</div>


</body>
{% endblock %}

