{% extends "base.html" %}
<body>
{% block content %}
<link rel="stylesheet" href="../static/newcss/welcome.css">
<div class="main-container">
    <div>
        <h1>Welcome to the Walkthrough</h1>
    </div>
    <div> 
        <h3>The Lazarus Method is comprised of</h3>
        <h3>7 health and wellness categories</h3>
    </div>
    <div> 
        <h4>Let's Review.</h4>
    </div>
    <div>
        <button onclick="location.href = '../walkthrough/challenge'">Continue</button>
    </div>
</div>

{% endblock %}
</body>