{% extends 'base.html' %}

{% block content %}

<body style="overflow-y: scroll;">
<link rel="stylesheet" type="text/css" href="../static/newcss/progress.css">

<div class="title">
    <h1>Congratulations!</h1>
    <br>
    
    <h4 style="color:#202562;">Your initial assessment has revealed your strengths and weaknesses within the Essential Health Elements.</h4>
    <h4 style="color:#202562;">After you complete the labs and exam, your baseline results will be revealed,
      providing further insight into your performance.</h4>
    <h4 style="color:#fff">Before we share your results, we'd like to introduce you to The Essential Health Elements</h4>
</div>

<br>

<div class="title">
    <button class="continue_button" onclick="location.href = '../walkthrough/challenge'">Continue</button>
</div>
</body>
{% endblock %}