{% extends "base.html" %}

{% block content %}
<body>
    <link rel="stylesheet" href="../static/newcss/tasks.css">
    {% include 'navbar.html' %}
        <div class="title">
            <h1>CONNECT</h1>
            <h3>What are we checking off today?</h3>
        </div>
        <div class="hands-picture">
            <img src="../static/images/ConnectIcon.svg" alt="Connect Icon">
        </div>
        <div class="tasks">
            <form method="post">
                {% csrf_token %}
            <div class="tasks-container">
                <ul>
                    {% for task in task_list %}
                        {% if not task.completed %}
                        <li>
                            <label type="checkbox" for="{{task.id}}">
                                <input type="checkbox" name="task_complete" id="{{ task.id }}" value="{{task.id}}"> 
                                {{task.task}} 
                            </label>
                        </li>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
        <div class="line">
            <hr>
        </div>
        <div class="completed-tasks">
            <div class="completed-tasks-container">
                <ul>
                    {% for task in task_list %}
                        {% if task.completed %}
                        <li><input type="checkbox" name="task_incomplete" id="{{ task.id }}" data-task-id="{{ task.id }}" value="{{task.id}}"> {{task.task}} </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="mark-done-button">
            <button method="post" name="save">Mark Done</button>
        </div>
        </form>
    </div>


   
</body>


{% endblock %}