<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="tasks.css">
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
    </style>
</head>
<body>
    <div class="navbar">
        <div class="navbar_container">
            <ul>
                <li><a href="profile.html"><img src="Profile Icon.png" /></a></li>
                <hr>
                <li><a href="../dashboard/dashboard.html"><img src="HomeIcon.png" /></a></li>
                <hr>
                <li><a href="tasks.html"><img src="progressicon.png" /></a></li>
                <li><a href="login.html"><img src="logout.png"></a></li>
            </ul>
        </div>
        <div class="title">
            <h1>Connect</h1>
            <h3>What are we checking off today?</h3>
        </div>
        <div class="hands-picture">
            <img src="../static/imagesConnectIcon.svg" alt="Connect Icon">
        </div>
        <div class="tasks">
            <div class="tasks-container">
                <ul>
                    <li><input type="checkbox">Do 15 pushups a day</li>
                    <li><input type="checkbox">Read 50 pages</li>
                    <li><input type="checkbox">Limit phone screen time to 1hr</li> 
            </div>
        </div>
        <div class="line">
            <hr>
        </div>
        <div class="completed-tasks">
            <div class="completed-tasks-container">
                <ul>
                    <li><input type="checkbox">Do 15mins of cardio a day</li> 
                </ul>
            </div>
        </div>
        <div class="mark-done-button">
            <button>Mark Done</button>
        </div>
    </div>