<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" 
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!--<div class="logo">
        <img src="../static/images/lazarus_text.png" class="title">
    </div> -->
    <link rel="stylesheet" href="../static/lazarusstyle.css">
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
      </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Roboto&display=swap');
      </style>
    {% block title %}{% endblock %}
    
    {% block header %}
{% endblock %}
</head>
<body>
    {% block content %}
 
    {% endblock content %}
    {% block footer %}
    
    {% endblock footer %}
</body>
</html>