
{% block content %}
<body>
    <!--<link rel="stylesheet" href="../static/newcss/progress.css">-->
    <div class="navbar">
        <div class="navbar_container">
            <a class="hamb-icon"><img src="../static/images/icons8-menu-rounded-50.png"/></a>
            <ul>
                <li><a href="../home" style="justify-content: center;"><img src="../static/images/HomeIcon.png" /></a></li>
                <hr>
                <li><a href="../progress"><img src="../static/images/progressicon.png" /></a></li>
                <hr>
                <li><a href=""><img src="../static/images/ProfileIcon.png" /></a></li>
                <hr>
                <li><a href="../logout"><img src="../static/images/logout.png"></a></li>
            </ul>
            <div class="overlay"></div>
          <a class="exit-icon"><img src="../static/images/icons8-close-window-50.png"/></a>
        </div>
    </div>
    <script>
    const menuIcon = document.querySelector('.hamb-icon');
    const exitIcon = document.querySelector('.exit-icon');
    const navbar = document.querySelector('.navbar_container');
    const overlay = document.querySelector('.overlay');

    menuIcon.addEventListener('click', () => {
    navbar.classList.add('show');
    overlay.classList.add('show');
    });

    exitIcon.addEventListener('click', () => {
    navbar.classList.remove('show');
    overlay.classList.remove('show');
    });
    </script>

</body>
{% endblock %}    