{% extends 'base.html' %}

{% block content %}
<link rel="stylesheet" href="../static/newcss/progress.css">
    <div class="navbar">
        <div class="navbar_container">
            <a class="hamb-icon"><img src="../static/images/icons8-menu-rounded-50.png"/></a>
            <ul>
                <li><a href="../profile"><img src="../static/images/ProfileIcon.png" /></a></li>
                <hr>
                <li><a href="../home"><img src="../static/images/HomeIcon.png" /></a></li>
                <hr>
                <li><a href="../progress"><img src="../static/images/progressicon.png" /></a></li>
                <hr>
                <li><a href="../logout"><img src="../static/images/logout.png"></a></li>
            </ul>
            <div class="overlay"></div>
          <a class="exit-icon"><img src="../static/images/icons8-close-window-50.png"/></a>
        </div>
    </div>
    <script>
    const menuIcon = document.querySelector('.hamb-icon');
    const exitIcon = document.querySelector('.exit-icon');
    const navbar = document.querySelector('.navbar_container');
    const overlay = document.querySelector('.overlay');

    menuIcon.addEventListener('click', () => {
    navbar.classList.add('show');
    overlay.classList.add('show');
    });

    exitIcon.addEventListener('click', () => {
    navbar.classList.remove('show');
    overlay.classList.remove('show');
    });
    </script>
  <div class="title">
      <h1>Progress</h1>
      <h3>Category scores are updated after each belt.</h3>
  </div>
  <div class="selectBox">
    <select id="scoreDropdown">
      <option value="{{data_baseline}}">Baseline</option>
      <option value="{{data_white}}">White Belt</option>
      <option value="{{data_yellow}}">Yellow Belt</option>
      <option value="{{data_green}}">Green Belt</option>
      <option value="{{data_blue}}">Blue Belt</option>
      <option value="{{data_orange}}">Orange Belt</option>
      <option value="{{data_purple}}">Purple Belt</option>
      <option value="{{data_final}}">Final Score</option>
    </select>
  </div>
  <div class="chart-container" >
      <canvas class="polar-chart" id="polar-chart" ></canvas>
  </div>
</div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  {% if request.user.program == 'Personalized Pathfinder' or 'Tailored Trailblazer'%}
  
  <script>
 
   

    var config = {
      type: 'radar',
      data: {
        datasets: [
          {
          data: {{ data_baseline|safe}},
          label: 'Score',
          fill: true,
          backgroundColor: "rgba(0, 255, 0, 0.3)", 
          borderColor: "rgba(255, 255, 255, 0.8)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(252, 227, 182, .1)"
                  },
                 
                  
                ],
        labels: ['CHALLENGE', 'CONNECT', 'LEARN', 'MOVE', 'NOURISH', 'REST', 'SPARK']
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,
        devicePixelRatio: 4,
        scales: {
          
      r: {
        pointLabels: {
          display: true,
          centerPointLabels: true,
          font: {
            size: 18
          },
          grid: {
            display: true,
            
          }
        }
      }
    },
        
        legend: {
          display: false
                },
         borderWidth: 10,
          scale: {
            lineArc: false,
            ticks: {
              max: 10,
              stepSize: 2,
              beginAtZero: true,
              },
      
      pointLabels: {
        fontSize: 18,
        fontStyle: "bold",
        color: "white",
        centerPointLabels: true,
        display:true
      }
    }  
        
    },
};

var scoreDropdown = document.getElementById('scoreDropdown');
  scoreDropdown.addEventListener('change', scoreSelector);
function scoreSelector() {
  config.data.datasets.splice(0, 1);
  var newData = scoreDropdown.value.slice(1,-1);

  window.myChart.update();
  config.data = {
    datasets: [
          {
          data: newData.split(","),
          label: 'Score',
          fill: true,
          backgroundColor: "rgba(0, 255, 0, 0.3)", 
          borderColor: "rgba(255, 255, 255, 0.8)",
          pointBorderColor: "#fff",
          pointBackgroundColor: "rgba(252, 227, 182, .1)"
                  },
                 
                  
                ],
        labels: ['CHALLENGE', 'CONNECT', 'LEARN', 'MOVE', 'NOURISH', 'REST', 'SPARK']
      }

  window.myChart.update();
  console.log(config.data.datasets[0].data)
  console.log(config.data.labels)

  
  }

    window.onload = function() {
      var ctx = document.getElementById('polar-chart').getContext('2d');
      window.myChart = new Chart(ctx, config);
    };

    

  </script>
{% endif %}



{% if request.user.program == "Empowered Explorer"%}
<script>
 
   

  var config = {
    type: 'radar',
    data: {
      datasets: [
        {
        data: {{ data_baseline|safe}},
        label: 'Score',
        fill: true,
        backgroundColor: "rgba(0, 255, 0, 0.3)", 
        borderColor: "rgba(255, 255, 255, 0.8)",
        pointBorderColor: "#fff",
        pointBackgroundColor: "rgba(252, 227, 182, .1)"
                },
               
                
              ],
      labels: ['CHALLENGE', 'CONNECT', 'LEARN', 'MOVE', 'NOURISH', 'REST', 'SPARK']
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      devicePixelRatio: 4,
      scales: {
        
    r: {
      pointLabels: {
        display: true,
        centerPointLabels: true,
        font: {
          size: 18
        },
        grid: {
          display: true,
          
        }
      }
    }
  },
      
      legend: {
        display: false
              },
       borderWidth: 10,
        scale: {
          lineArc: false,
          ticks: {
            max: 10,
            stepSize: 2,
            beginAtZero: true,
            },
    
    pointLabels: {
      fontSize: 18,
      fontStyle: "bold",
      color: "white",
      centerPointLabels: true,
      display:true
    }
  }  
      
  },
};

var scoreDropdown = document.getElementById('scoreDropdown');
scoreDropdown.addEventListener('change', scoreSelector);
function scoreSelector() {
config.data.datasets.splice(0, 1);
var newData = scoreDropdown.value.slice(1,-1);

window.myChart.update();
config.data = {
  datasets: [
        {
        data: newData.split(","),
        label: 'Score',
        fill: true,
        backgroundColor: "rgba(0, 255, 0, 0.3)", 
        borderColor: "rgba(255, 255, 255, 0.8)",
        pointBorderColor: "#fff",
        pointBackgroundColor: "rgba(252, 227, 182, .1)"
                },
               
                
              ],
      labels: ['CHALLENGE', 'CONNECT', 'LEARN', 'MOVE', 'NOURISH', 'REST', 'SPARK']
    }

window.myChart.update();
console.log(config.data.datasets[0].data)
console.log(config.data.labels)


}

  window.onload = function() {
    var ctx = document.getElementById('polar-chart').getContext('2d');
    window.myChart = new Chart(ctx, config);
  };

  

</script>
{% endif %}


{% endblock %}

