<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
    <link href="https://fonts.cdnfonts.com/css/futura-pt" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
    </style>
</head>
<body>
    <div class="main_container">
        <div class="left">
            <div class="chart">
                <img src="image 1.png" alt="chart">
            </div>
        </div>
        <div class="right">
            <div class="login_container">
                <div class="title">
                    <h1>The Lazarus Method</h1>
                    <h3>Enter your account details below.</h3>
                </div>
                <div class="input_boxes">
                    <input type="text" class="username_input" autofocus placeholder="E-mail">
                    <input type="text" class="password_input" autofocus placeholder="Password">
                </div>
                <div class="button">
                    <button class="continue_button" type="submit">Sign in</button>
                </div>
                <div class="forgot_password">
                    <a class="forgot_password_link">Forgot your password?</a>
                </div>
                <div class="line">
                    <hr>
                </div>
                <div class="dont_have_account">
                    <a>Don't have an account?</a>
                    <button class="get_started_button" type="submit" id="createAccountLink">Get started</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>